/*
CORES
#D92B04
#45858C
#A0D9D9
#D9C589
#BF9765

#8C1C3A
#BF244E
#F2A88D
#D9765F
#BF8821

font-family: 'Caveat', cursive;
font-family: 'EB Garamond', serif;
font-family: 'Marhey', cursive;
font-family: 'Mynerve', cursive;
font-family: 'Roboto', sans-serif;
*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
::-webkit-scrollbar{
    display: none;
}
h1{
    font-family: 'Marhey', cursive;
    text-shadow: 4px 4px 6px #464646;
    font-weight: 500;
    font-size: 20px, 2,8vw;
}

/*---------HEADER------------*/
header{
    max-width: 100%;
    height: 90vh;
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.2)) ,url('../img/painel G.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    min-height: 90vh;
    padding: 1rem;
    position: relative;
}
/* NAV contendo logo e menu */
header nav.logo {
    width: 100%;
    height: 100px;
    padding: 0 2rem;

    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;

    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(4px);
}

/* LOGO com tamanho controlado */
header nav.logo img {
    height: 80px;
    width: auto;
    object-fit: contain;
    margin-right: auto; /* empurra o menu pra direita */
}

/* MENU PRINCIPAL à direita */
header nav ul.menu-principal {
    display: flex;
    gap: 2rem;
    list-style: none;
    margin: 0;
    padding: 0;
}


