/*
CORES
#D92B04
#45858C
#A0D9D9
#D9C589
#BF9765

#8C1C3A
#BF244E
#F2A88D
#D9765F
#BF8821

font-family: 'Caveat', cursive;
font-family: 'EB Garamond', serif;
font-family: 'Marhey', cursive;
font-family: 'Mynerve', cursive;
font-family: 'Roboto', sans-serif;
*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
::-webkit-scrollbar{
    display: none;
}
h1{
    font-family: 'Marhey', cursive;
    text-shadow: 4px 4px 6px #464646;
    font-weight: 500;
    font-size: 20px, 2,8vw;
}

/*---------HEADER------------*/
header{
    max-width: 100%;
    height: 90vh;
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.2)) ,url('../img/painel G.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    position: relative;
}
header nav.logo{
    width: 100%;
    height: 150px;

    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
}
header nav.logo img{
    max-width: 100%;
    max-height: 100%;
}
/*---------Menu Hambuirguer------*/
header vav#ul.manu-principal{
    margin-left: 5rem;

    display: flex;
    flex-flow: row wrap;
}
header nav#ul.manu-principal li{
    list-style: none;
    margin-right: 2rem;
}
header nav#ul.manu-principal li a{
    text-decoration: none;
    color: #fff;
    font-size: 110%;
    text-shadow: 4px 6px 10px #000;
    padding-bottom: 10px;
    transition: .3s ease-in-out;
}
header nav#ul.manu-principal li a:hover{
    opacity: .6;
    border-bottom: 1px solid #fff;
}


